<div class="container-host">
    <div class="category-header">
        <div class="container flex" *ngIf="waitingForGameToStart">
            <button (click)="startGame()" *ngIf="isAdmin()"> START GAME </button>
            <span *ngIf="!isAdmin()">Still waiting for game to start</span>
        </div>
        <div class="container flex" *ngIf="waitingForRoundToStart">
            <button (click)="startRound()" *ngIf="isAdmin()"> START ROUND </button>
            <span *ngIf="!isAdmin()">Still waiting for round to start</span>
        </div>
    </div>

    <div class="category-body">
        <div class="container">
            <div class="row space-between" *ngIf="roundInProgress">
                <div class="col-6">
                    <round-form *ngIf="categories" [categories]="categories" [lettterInPlay]="lettterInPlay"></round-form>
                </div>
                <div class="col-6 letter">
                    {{ lettterInPlay }}
                </div>
            </div>
        </div>
    </div>
</div>