<div class="container-host">
    <div class="category-header">
        <div class="container flex" *ngIf="waitingForGameToStart">
            <button (click)="startGame()" *ngIf="isAdmin()"> START GAME </button>
            <span *ngIf="!isAdmin()">Still waiting for game to start</span>
        </div>
        <div class="container flex" *ngIf="waitingForRoundToStart">
            <button (click)="startRound()" *ngIf="isAdmin()"> START ROUND </button>
            <span *ngIf="!isAdmin()">Still waiting for round to start</span>
        </div>
    </div>

    <div class="category-body">
        <div class="container">
            <div class="row space-between" *ngIf="roundInProgress">
                <div class="col-8">
                    <round-form *ngIf="categories" [categories]="categories" [lettterInPlay]="lettterInPlay"></round-form>
                </div>
                <div class="col-4 letter">
                    {{ lettterInPlay }}
                </div>
            </div>
            <div class="row space-between" *ngIf="roundOver" style="background-color: white;">
                Scoring: 10 for unique answer, 5 for right answer, 0 for wrong or no answer 
                <div class="col-12" class="flex col">
                    <div class="flex-row">
                        <strong class="first-col">Categories:</strong>
                        <div class="container">
                            <div class="flex-row space-between">
                                <div *ngFor="let category of categories">
                                    <span class="other-col">{{category}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let player of allUsers" class="flex col">
                        <div class="flex-row">
                            <strong class="first-col">{{player}}</strong>
                            <div class="container">
                                <div class="flex-row space-between">
                                    <div class="other-col"  *ngFor="let category of categories">
                                        <span *ngIf="scoringCategory === category"> <strong>{{getUserAnswers(player, category)}} </strong> </span>
                                        <span *ngIf="scoringCategory !== category"> {{getUserAnswers(player, category)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex full col align-center">
                    <button *ngIf="isAdmin()" class="large-button" (click)="nextCategory()" mat-raised-button>Next Category</button>
                    <span class="flex col align-center" *ngIf="!isScoreSubmittedForCategory && scoringCategory">
                        <button mat-raised-button (click)="submitCategoryScore(10)" class="small-button"> 10 </button>
                        <button mat-raised-button (click)="submitCategoryScore(5)" class="small-button"> 5 </button>
                        <button mat-raised-button (click)="submitCategoryScore(0)" class="small-button"> 0 </button>
                    </span>
                    <button mat-raised-button class="large-button" (click)="submitAllScore()"  *ngIf="showFinalcodeSubmit"> Submit Score of {{roundScore}}</button>
                    <button mat-raised-button *ngIf="isAdmin() && !scoringCategory && !hasRequestedFinalScores" (click)="requestFinalScores()">Request final Scores</button>
                    <button mat-raised-button *ngIf="isAdmin() && !scoringCategory && hasRequestedFinalScores" (click)="nextRound()">Next Round</button>
                    <div *ngIf="isAdmin()"> List of users who have sumbitted scores: {{ usersWhoSubmittedScore | json }}</div>
                </div>
            </div>

            <div class="row space-between" *ngIf="gameOver">
                {{ scores | json }}
            </div>
        </div>
    </div>
    <div *ngIf="isAdmin() && !gameOver">
        <button mat-raised-button (click)="finshGame()">FINISH</button>
    </div>
</div>