<mat-card class="example-card scrollable-content"  *ngIf="answerForm">
    <mat-card-title>
        Catergories
    </mat-card-title>

    <mat-card-content>
        <div class="grid-container">
            <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
                <div class="flex-col" >
                    <!-- 0 -->
                    <span class="flex-row" *ngIf="control0">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[0]}}</mat-label>
                            <input matInput formControlName="{{categories[0]}}" placeholder="{{categories[0]}}" required >
                            <div *ngIf="control0.hasError('required') && control0.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 1 -->
                    <span class="flex-row" *ngIf="control1">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[1]}}</mat-label>
                            <input matInput formControlName="{{categories[1]}}" placeholder="{{categories[1]}}" required >
                            <div *ngIf="control1.hasError('required') && control1.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 2 -->
                    <span class="flex-row" *ngIf="control2">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[2]}}</mat-label>
                            <input matInput formControlName="{{categories[2]}}" placeholder="{{categories[2]}}" required >
                            <div *ngIf="control2.hasError('required') && control2.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 3 -->
                    <span class="flex-row" *ngIf="control3">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[3]}}</mat-label>
                            <input matInput formControlName="{{categories[3]}}" placeholder="{{categories[3]}}" required >
                            <div *ngIf="control3.hasError('required') && control3.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 4 -->
                    <span class="flex-row" *ngIf="control4">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[4]}}</mat-label>
                            <input matInput formControlName="{{categories[4]}}" placeholder="{{categories[4]}}" required >
                            <div *ngIf="control4.hasError('required') && control4.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 5 -->
                    <span class="flex-row" *ngIf="control5">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[5]}}</mat-label>
                            <input matInput formControlName="{{categories[5]}}" placeholder="{{categories[5]}}" required >
                            <div *ngIf="control5.hasError('required') && control5.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 6 -->
                    <span class="flex-row" *ngIf="control6">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[6]}}</mat-label>
                            <input matInput formControlName="{{categories[6]}}" placeholder="{{categories[6]}}" required >
                            <div *ngIf="control6.hasError('required') && control6.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 7 -->
                    <span class="flex-row" *ngIf="control7">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[7]}}</mat-label>
                            <input matInput formControlName="{{categories[7]}}" placeholder="{{categories[7]}}" required >
                            <div *ngIf="control7.hasError('required') && control7.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 8 -->
                    <span class="flex-row" *ngIf="control8">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[8]}}</mat-label>
                            <input matInput formControlName="{{categories[8]}}" placeholder="{{categories[8]}}" required >
                            <div *ngIf="control8.hasError('required') && control8.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                    <!-- 9 -->
                    <span class="flex-row" *ngIf="control9">
                        <mat-form-field appearance="standard">
                            <mat-label>{{categories[9]}}</mat-label>
                            <input matInput formControlName="{{categories[9]}}" placeholder="{{categories[9]}}" required >
                            <div *ngIf="control9.hasError('required') && control9.touched">
                                This field is required
                            </div>
                        </mat-form-field>
                    </span>
                </div>
            </form>
        </div>
    </mat-card-content>

    <mat-card-footer class="flex">
        <button class="button" [disabled]="!answerForm.valid" type="submit" (click)="onSubmit()">Done!</button>
    </mat-card-footer>
</mat-card>